.cam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5px;
}

/* proporcion de video */
/* 320x234 */
/* 416x314 */

#video-cam {
  width: 416px;
  height: 314px;
  border: solid 4px #111;
  border-radius: 3px;
  transform: rotateY(180deg);
}

canvas {
  position: absolute;
  transform: rotateY(180deg);
}

.data-container {
  border: 4px solid #111;
  border-radius: 3px;
  padding: 20px;
}

.data-container h3{
  text-align: center;
}

.data-container p{
  line-height: 30px;
  font-size: 20px;
}
